In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('train_zip.csv')

In [11]:
df

,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,actv_prd_d,lst_pmnt_rcnc_d,balance,...,lk,assignee_npo,assignee_ops,postal_code,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn
0,2,1,2015,2015Q2,-1,41,3492,3470,35,37379.76,...,-1,-1,-1,398017.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,1,0
1,1,2,2015,2015Q4,-1,39,1191,244,947,176593.80,...,1,-1,-1,141006.0,МОСКОВСКАЯ ОБЛ,1,-1,0,0,0
2,2,1,2022,2022Q2,1,47,801,778,31,42401.23,...,1,-1,-1,162626.0,ВОЛОГОДСКАЯ ОБЛ,1,1,0,1,0
3,1,2,2020,2020Q4,1,48,7875,0,5844,2307.93,...,-1,-1,-1,398036.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0
4,1,2,2012,2012Q4,1,38,3452,0,2557,3757.16,...,-1,-1,-1,162609.0,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2,2020,2020Q4,1,49,7854,0,5844,341.79,...,-1,-1,-1,398017.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0
99996,2,1,2006,2006Q3,-1,31,1998,618,29,14900.93,...,-1,-1,-1,398046.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,1,0
99997,1,2,2011,2011Q3,-1,38,1453,1430,29,10281.15,...,-1,-1,-1,398035.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,1,0
99998,1,2,2018,2018Q4,1,66,2909,120,2789,12116.20,...,-1,-1,-1,357974.0,СТАВРОПОЛЬСКИЙ КРАЙ,1,1,0,0,0
99999,2,3,2022,2022Q4,1,58,2883,2860,32,173948.77,...,-1,-1,-1,461980.0,ОРЕНБУРГСКАЯ ОБЛ,-1,1,0,1,0

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df.drop(['client_id', 'npo_account_id'], axis=1, inplace=True)

In [10]:
df.drop('slctn_nmbr', axis=1, inplace=True)

In [14]:
df.groupby('year').agg({'npo_accnts_nmbr' : 'count'}).mean()

npo_accnts_nmbr    3225.806452
dtype: float64

In [ ]:

temp_df = pd.DataFrame()
# Проходим по каждой колонке, строим модель и делаем предсказание
for i in range(2024, 2035):
    for column in df.columns:
        if column != 'year' and column != 'quarter':
            model = LinearRegression()
            size = df.shape[0]
            size = int(size*0.8)
            print(size)
            X = df[column].iloc[:size].mean().reshape(-1, 1)
            y = df[column].iloc[size:].mean().reshape(-1, 1)
            
            # Обучаем модель на данных в колонке
            model.fit(X, y)

            # Делаем предсказание на основе данных в колонке
            predicted_values = model.predict(X)
            
            # Добавляем предсказанные значения в новую колонку
            temp_df[column] = [predicted_values for _ in range(3226)]
    temp_df['year'] = i 
    temp_df['quarter'] = i
    df = pd.concat([df, temp_df])