In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
df = pd.read_csv("train_zip_preprocessed.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)

In [47]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [67]:
df.shape

(100000, 36)

In [65]:
df = df.drop(0)

In [66]:
df.head()

,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,actv_prd_d,lst_pmnt_rcnc_d,...,assignee_ops,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn,npo_sum_doxod,npo_sum_vsnos,accnt_pnsn_schm
1,0x30405A5ED70D134DBACEA479F4CA1E4A,1,2,2015,2015Q4,-1,39,1191,244,947,...,-1,МОСКОВСКАЯ ОБЛ,1,-1,0,0,0,NaN,NaN,62.0
2,0x810C005056AB57EC11EBA287AC552DD7,2,1,2022,2022Q2,1,47,801,778,31,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,1,0,NaN,4878.03,11.0
3,0x3225ED4DFFCD4042BB36FE353B42ACBD,1,2,2020,2020Q4,1,48,7875,0,5844,...,-1,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0,88.76,NaN,354.0
4,0x58998F4E17293D49953B9943F2B794E3,1,2,2012,2012Q4,1,38,3452,0,2557,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0,217.66,NaN,0.0
5,0x6C27F78E74DD3E428A8121F0E7E747A0,2,1,2018,2018Q2,-1,48,804,730,28,...,-1,БАШКОРТОСТАН РЕСП,-1,1,0,1,0,NaN,4181.23,351.0

In [58]:
cntrbtrs = pd.read_csv('train/cntrbtrs.csv', sep=';')

In [62]:
cntrbtrs.head()

                       npo_account_id  accnt_pnsn_schm
0  0x66FC8B311E1E204187F41966B73E313F              0.0
1  0x675F74AFB447EF40AF1E4C042CCA440C              0.0
2  0x6FFA52921209184BA47B1E919B713894              0.0
3  0xB51B4374207FE0458B29FD1F9CBF69EB              1.0
4  0x7AC3935CC4DADE419F8378B9C276DEF7              2.0

In [60]:
cntrbtrs.rename(columns=({'npo_accnt_id' : 'npo_account_id'}), inplace=True)

In [61]:
cntrbtrs.drop('slctn_nmbr', axis=1, inplace=True)

In [63]:
df = df.merge(cntrbtrs, how='left', on='npo_account_id')

In [41]:
trnsctns = pd.read_csv('train/trnsctns.csv', sep=';')

In [42]:
trnsctns.head()

,slctn_nmbr,npo_account_id,npo_sum,npo_oprtn_date,npo_oprtn_grp,quarter,year
0,2,0x555990CC98CCF8469BE5911D37811A4A,57.72,2000-01-02,0,2000Q1,2000
1,2,0x555990CC98CCF8469BE5911D37811A4A,288.61,2000-01-03,0,2000Q1,2000
2,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-01-16,1,2000Q1,2000
3,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-02-15,1,2000Q1,2000
4,2,0x555990CC98CCF8469BE5911D37811A4A,85.36,2000-03-16,1,2000Q1,2000

In [44]:
npo_sum_doxod = trnsctns.query('npo_oprtn_grp == 0').groupby(['npo_account_id', 'quarter']).agg({'npo_sum' : 'sum'}).reset_index()\
    .rename(columns=({'npo_sum' : 'npo_sum_doxod'}))

In [45]:
npo_sum_doxod.head()

                       npo_account_id quarter  npo_sum_doxod
0  0x0000132B2D126446B3E105530BA834B9  2008Q4        1629.93
1  0x0000132B2D126446B3E105530BA834B9  2009Q4        2771.23
2  0x0000132B2D126446B3E105530BA834B9  2010Q4        3714.37
3  0x0000132B2D126446B3E105530BA834B9  2012Q1        4581.78
4  0x0000132B2D126446B3E105530BA834B9  2012Q4       10996.86

In [53]:
npo_sum_vsnos = trnsctns.query('npo_oprtn_grp == 1').groupby(['npo_account_id', 'quarter']).agg({'npo_sum' : 'sum'}).reset_index()\
    .rename(columns=({'npo_sum' : 'npo_sum_vsnos'}))

In [54]:
npo_sum_vsnos.head()

                       npo_account_id quarter  npo_sum_vsnos
0  0x0000132B2D126446B3E105530BA834B9  2008Q1        6853.63
1  0x0000132B2D126446B3E105530BA834B9  2008Q2        4317.07
2  0x0000132B2D126446B3E105530BA834B9  2008Q3       14635.33
3  0x0000132B2D126446B3E105530BA834B9  2008Q4        8994.35
4  0x0000132B2D126446B3E105530BA834B9  2009Q1       12427.12

In [50]:
df = df.merge(npo_sum_doxod, how='left', on=['npo_account_id', 'quarter'])

In [55]:
df = df.merge(npo_sum_vsnos, how='left', on=['npo_account_id', 'quarter'])

In [68]:
df.head()

,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,actv_prd_d,lst_pmnt_rcnc_d,...,assignee_ops,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn,npo_sum_doxod,npo_sum_vsnos,accnt_pnsn_schm
1,0x30405A5ED70D134DBACEA479F4CA1E4A,1,2,2015,2015Q4,-1,39,1191,244,947,...,-1,МОСКОВСКАЯ ОБЛ,1,-1,0,0,0,NaN,NaN,62.0
2,0x810C005056AB57EC11EBA287AC552DD7,2,1,2022,2022Q2,1,47,801,778,31,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,1,0,NaN,4878.03,11.0
3,0x3225ED4DFFCD4042BB36FE353B42ACBD,1,2,2020,2020Q4,1,48,7875,0,5844,...,-1,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0,88.76,NaN,354.0
4,0x58998F4E17293D49953B9943F2B794E3,1,2,2012,2012Q4,1,38,3452,0,2557,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0,217.66,NaN,0.0
5,0x6C27F78E74DD3E428A8121F0E7E747A0,2,1,2018,2018Q2,-1,48,804,730,28,...,-1,БАШКОРТОСТАН РЕСП,-1,1,0,1,0,NaN,4181.23,351.0

In [69]:
df.shape

(100000, 36)

In [70]:
df.to_csv('train_zip_new_data_merged_preprocessed.csv')

In [2]:
df = pd.read_csv("train_zip_new_data_merged_preprocessed.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df.head()

,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,actv_prd_d,lst_pmnt_rcnc_d,...,assignee_ops,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn,npo_sum_doxod,npo_sum_vsnos,accnt_pnsn_schm
0,0x30405A5ED70D134DBACEA479F4CA1E4A,1,2,2015,2015Q4,-1,39,1191,244,947,...,-1,МОСКОВСКАЯ ОБЛ,1,-1,0,0,0,NaN,NaN,62.0
1,0x810C005056AB57EC11EBA287AC552DD7,2,1,2022,2022Q2,1,47,801,778,31,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,1,0,NaN,4878.03,11.0
2,0x3225ED4DFFCD4042BB36FE353B42ACBD,1,2,2020,2020Q4,1,48,7875,0,5844,...,-1,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0,88.76,NaN,354.0
3,0x58998F4E17293D49953B9943F2B794E3,1,2,2012,2012Q4,1,38,3452,0,2557,...,-1,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0,217.66,NaN,0.0
4,0x6C27F78E74DD3E428A8121F0E7E747A0,2,1,2018,2018Q2,-1,48,804,730,28,...,-1,БАШКОРТОСТАН РЕСП,-1,1,0,1,0,NaN,4181.23,351.0

In [8]:
df.isna().sum()

npo_account_id            0
npo_accnts_nmbr           0
pmnts_type                0
year                      0
quarter                   0
gender                    0
age                       0
clnt_cprtn_time_d         0
actv_prd_d                0
lst_pmnt_rcnc_d           0
balance                   0
oprtn_sum_per_qrtr        0
oprtn_sum_per_year        0
frst_pmnt_date            0
lst_pmnt_date_per_qrtr    0
frst_pmnt                 0
pmnts_nmbr                0
pmnts_nmbr_per_qrtr       0
incm_sum                  0
incm_per_qrtr             0
incm_per_year             0
mgd_payment_period        0
phone_number              0
email                     0
lk                        0
assignee_npo              0
assignee_ops              0
region                    0
citizen                   0
fact_addrss               0
appl_mrkr                 0
evry_qrtr_pmnt            0
churn                     0
npo_sum_doxod             0
npo_sum_vsnos             0
accnt_pnsn_schm           0
dtype: int64

In [5]:
df.npo_sum_vsnos.describe()

count    6.771700e+04
mean     6.624997e+03
std      7.412754e+04
min     -2.119900e+02
25%      7.317000e+02
50%      2.657310e+03
75%      7.076060e+03
max      1.811505e+07
Name: npo_sum_vsnos, dtype: float64

In [6]:
df.npo_sum_vsnos = df.npo_sum_vsnos.fillna(0.0)

In [7]:
df.npo_sum_doxod = df.npo_sum_doxod.fillna(0.0)

In [11]:
df.drop('npo_sum_vsnos', axis=1, inplace=True)

(100000, 36)

In [34]:
zp = pd.read_csv('zp.csv', sep=';')

In [38]:
zp.head()

         Q1     Q2      Q3      Q4
year
1993   19.4   38.5    67.4   109.5
1994  148.1  187.5   232.3   298.6
1995  328.2  432.2   528.3   643.2
1996  695.3  789.7   838.3   903.8
1997  844.0  941.0  1001.0  1074.0

In [36]:
zp = zp.set_index(zp.year)

In [37]:
zp.drop('year', axis=1, inplace=True)

In [40]:
zp = pd.DataFrame(zp.stack().reset_index())

In [69]:
zp.head()

      zp quarter
0   19.4  1993Q1
1   38.5  1993Q2
2   67.4  1993Q3
3  109.5  1993Q4
4  148.1  1994Q1

In [44]:
zp.year = zp.year.astype('str')

In [65]:
zp.dtypes

0          float64
quarter     object
dtype: object

In [46]:
zp['quarter'] = zp.year + zp.level_1

In [49]:
zp.drop(['year', 'level_1'], axis=1, inplace=True)

In [67]:
zp = zp.rename(columns=({0 : 'zp'}))

In [70]:
df = df.merge(zp, how='left', on='quarter')

In [151]:
df.head()

,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,actv_prd_d,lst_pmnt_rcnc_d,...,evry_qrtr_pmnt,churn,npo_sum_doxod,npo_sum_vsnos,accnt_pnsn_schm,zp,house_price,bezrabotica,potreb_price_x,inflycia
0,0x30405A5ED70D134DBACEA479F4CA1E4A,1,2,2015,2015Q4,-1,39,1191,244,947,...,0,0,0.00,0.00,62.0,36692.0,99.7,5.60,100.69,15.416667
1,0x810C005056AB57EC11EBA287AC552DD7,2,1,2022,2022Q2,1,47,801,778,31,...,1,0,0.00,4878.03,11.0,63784.0,121.0,3.90,103.10,17.213333
2,0x3225ED4DFFCD4042BB36FE353B42ACBD,1,2,2020,2020Q4,1,48,7875,0,5844,...,0,0,88.76,0.00,354.0,56044.0,112.0,5.80,100.36,4.023333
3,0x58998F4E17293D49953B9943F2B794E3,1,2,2012,2012Q4,1,38,3452,0,2557,...,0,0,217.66,0.00,0.0,30233.0,110.7,5.50,100.45,6.533333
4,0x6C27F78E74DD3E428A8121F0E7E747A0,2,1,2018,2018Q2,-1,48,804,730,28,...,1,0,0.00,4181.23,351.0,44477.0,106.3,4.80,100.35,2.396667

In [122]:
df.drop(['potreb_price_y'], axis=1, inplace=True)

In [152]:
df.shape

(100000, 41)

In [9]:
def get_redundant_pairs(df):
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

In [75]:
house = pd.read_csv('house.csv', sep=';')

In [76]:
house.head()

   year  house_price
0  1998        156.9
1  1999        146.3
2  2000        113.1
3  2001        125.1
4  2002        122.5

In [77]:
df = df.merge(house, how='left', on='year')

In [137]:
inflycia = pd.read_csv('inflycia.csv', sep=';')

In [138]:
inflycia.head()

   year            Q1            Q2         Q3         Q4
0  2023  45422.000000  28157.000000   4.223333   6.716667
1  2022  34578.000000     17.213333  15.096667  12.756667
2  2021      6.416667  28246.000000   6.556667   7.983333
3  2020      3.213333      2.893333   3.383333   4.023333
4  2019  15797.000000  43586.000000   4.526667   3.766667

In [83]:
bezrabotica = pd.read_csv('bezrabotica.csv', sep=';')

In [84]:
bezrabotica.head()

   year bezrabotica
0  2000      10.60
1  2001        9.00
2  2002       7.90
3  2003       8.20
4  2004       7.80

In [85]:
df = df.merge(bezrabotica, how='left', on='year')

In [89]:
df.bezrabotica = df.bezrabotica.fillna(20.00)

In [91]:
df.house_price = df.house_price.fillna(170.00)

In [163]:
df.isna().sum()

npo_account_id            0
npo_accnts_nmbr           0
pmnts_type                0
year                      0
quarter                   0
gender                    0
age                       0
clnt_cprtn_time_d         0
lst_pmnt_rcnc_d           0
oprtn_sum_per_qrtr        0
oprtn_sum_per_year        0
frst_pmnt_date            0
lst_pmnt_date_per_qrtr    0
pmnts_nmbr                0
pmnts_nmbr_per_qrtr       0
incm_sum                  0
incm_per_qrtr             0
incm_per_year             0
mgd_payment_period        0
phone_number              0
email                     0
lk                        0
assignee_npo              0
assignee_ops              0
region                    0
citizen                   0
fact_addrss               0
appl_mrkr                 0
evry_qrtr_pmnt            0
churn                     0
npo_sum_doxod             0
accnt_pnsn_schm           0
house_price               0
bezrabotica               0
potreb_price_x            0
inflycia                  0
dtype: int64

In [139]:
inflycia = inflycia.set_index('year')

In [149]:
inflycia.head()

       inflycia quarter
0  45422.000000  2023Q1
1  28157.000000  2023Q2
2      4.223333  2023Q3
3      6.716667  2023Q4
4  34578.000000  2022Q1

In [141]:
inflycia.dtypes

Q1    float64
Q2    float64
Q3    float64
Q4    float64
dtype: object

In [142]:
inflycia = pd.DataFrame(inflycia.stack().reset_index())

In [143]:
inflycia.year = inflycia.year.astype('str')

In [144]:
inflycia['quarter'] = inflycia.year + inflycia.level_1

In [146]:
inflycia.drop(['year', 'level_1'], axis=1, inplace=True)

In [148]:
inflycia = inflycia.rename(columns=({0 : 'inflycia'}))

In [150]:
df = df.merge(inflycia, how='left', on='quarter')

In [154]:
df.drop(['zp', 'npo_sum_vsnos', 'balance'], axis=1, inplace=True)

In [156]:
df.drop(['frst_pmnt', 'actv_prd_d'], axis=1, inplace=True)

In [165]:
df.drop(['npo_account_id'], axis=1, inplace=True)

In [157]:
numeric_columns = df.select_dtypes(exclude='object').columns
print("Top Absolute Correlations")
print(get_top_abs_correlations(df[numeric_columns], 10))

Top Absolute Correlations
incm_per_qrtr        npo_sum_doxod          0.735480
oprtn_sum_per_qrtr   oprtn_sum_per_year     0.691831
email                accnt_pnsn_schm        0.687052
pmnts_nmbr_per_qrtr  evry_qrtr_pmnt         0.672360
phone_number         fact_addrss            0.666293
lst_pmnt_rcnc_d      pmnts_nmbr_per_qrtr    0.643986
oprtn_sum_per_qrtr   incm_per_year          0.638438
mgd_payment_period   accnt_pnsn_schm        0.607482
clnt_cprtn_time_d    lst_pmnt_rcnc_d        0.576992
incm_per_qrtr        incm_per_year          0.572494
dtype: float64

In [167]:
df.bezrabotica = df.bezrabotica.astype('float')

In [174]:
df.head()

,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,lst_pmnt_rcnc_d,oprtn_sum_per_qrtr,oprtn_sum_per_year,...,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn,npo_sum_doxod,accnt_pnsn_schm,house_price,bezrabotica,potreb_price_x,inflycia
0,1,2,2015,2015Q4,-1,39,1191,947,10646.13,104242.44,...,-1,0,0,0,0.00,62.0,99.7,5.6,100.69,15.416667
1,2,1,2022,2022Q2,1,47,801,31,4878.05,19512.20,...,1,0,1,0,0.00,11.0,121.0,3.9,103.10,17.213333
2,1,2,2020,2020Q4,1,48,7875,5844,88.76,88.76,...,1,0,0,0,88.76,354.0,112.0,5.8,100.36,4.023333
3,1,2,2012,2012Q4,1,38,3452,2557,217.67,217.67,...,1,0,0,0,217.66,0.0,110.7,5.5,100.45,6.533333
4,2,1,2018,2018Q2,-1,48,804,28,4181.24,25125.36,...,1,0,1,0,0.00,351.0,106.3,4.8,100.35,2.396667

In [175]:
df.to_csv('train_zip_new_data_merged_preprocessed.csv')

In [169]:
X = df.drop('churn', axis=1)
Y = df['churn']
ob_cols = X.select_dtypes('object').columns.to_list()

In [161]:
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score, accuracy_score, classification_report
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [170]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0, test_size=0.2)

In [171]:
cboost = CatBoostClassifier(verbose=0)

cboost.fit(X_train,
           Y_train,
           cat_features=ob_cols)
y_pred = cboost.predict(X_test)

print(classification_report(Y_test, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9912    0.9975    0.9943     19688
           1     0.7340    0.4423    0.5520       312

    accuracy                         0.9888     20000
   macro avg     0.8626    0.7199    0.7732     20000
weighted avg     0.9872    0.9888    0.9874     20000

In [176]:
for col in ob_cols:
    if df[col].nunique() < 5:
        one_hot = pd.get_dummies(df[col], prefix=col, drop_first=True)
        df = pd.concat((df.drop(col, axis=1), one_hot), axis=1)     
    else:
        mean_target = df.groupby(col)['churn'].mean()
        df[col] = df[col].map(mean_target)

In [178]:
data_scaled = df.copy()

In [179]:
X = df.drop('churn', axis=1)
Y = df['churn']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0, test_size=0.2)
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train_scale, X_test_scale, Y_train_scale, Y_test_scale = train_test_split(X, Y, random_state=0, test_size=0.2)

In [ ]:
model_reg = LogisticRegression()
model_reg.fit(X_train, Y_train)
y_pred = model_reg.predict(X_test)

print(classification_report(Y_test, y_pred, digits=4))
#0.9839

In [181]:
model_reg = LogisticRegression()
model_reg.fit(X_train_scale, Y_train_scale)
y_pred = model_reg.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9874    0.9987    0.9930     19688
           1     0.7011    0.1955    0.3058       312

    accuracy                         0.9861     20000
   macro avg     0.8443    0.5971    0.6494     20000
weighted avg     0.9829    0.9861    0.9823     20000

In [182]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [184]:
tree = DecisionTreeClassifier()
tree.fit(X_train_scale, Y_train_scale)

y_pred = tree.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9930    0.9918    0.9924     19688
           1     0.5194    0.5577    0.5379       312

    accuracy                         0.9850     20000
   macro avg     0.7562    0.7748    0.7651     20000
weighted avg     0.9856    0.9850    0.9853     20000

In [186]:
rf = RandomForestClassifier()
rf.fit(X_train_scale, Y_train_scale)
y_pred = rf.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9918    0.9986    0.9952     19688
           1     0.8418    0.4776    0.6094       312

    accuracy                         0.9905     20000
   macro avg     0.9168    0.7381    0.8023     20000
weighted avg     0.9894    0.9905    0.9891     20000

In [188]:
boost = GradientBoostingClassifier()
boost.fit(X_train_scale, Y_train_scale)

y_pred = boost.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9928    0.9972    0.9950     19688
           1     0.7545    0.5417    0.6306       312

    accuracy                         0.9901     20000
   macro avg     0.8736    0.7694    0.8128     20000
weighted avg     0.9891    0.9901    0.9893     20000

In [189]:
import xgboost as xgb

In [191]:
xgb_model = xgb.XGBClassifier()
xgb_model.fit(X_train_scale, Y_train_scale)
y_pred = xgb_model.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9931    0.9978    0.9955     19688
           1     0.8037    0.5641    0.6629       312

    accuracy                         0.9910     20000
   macro avg     0.8984    0.7810    0.8292     20000
weighted avg     0.9902    0.9910    0.9903     20000

In [192]:
cboost = CatBoostClassifier(verbose=0)

cboost.fit(X_train,
           Y_train)
y_pred = cboost.predict(X_test)

print(classification_report(Y_test, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9930    0.9979    0.9955     19688
           1     0.8093    0.5577    0.6603       312

    accuracy                         0.9910     20000
   macro avg     0.9012    0.7778    0.8279     20000
weighted avg     0.9902    0.9910    0.9902     20000

In [193]:
cboost = CatBoostClassifier(verbose=0)

cboost.fit(X_train_scale,
           Y_train_scale)
y_pred = cboost.predict(X_test_scale)

print(classification_report(Y_test_scale, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9930    0.9979    0.9955     19688
           1     0.8093    0.5577    0.6603       312

    accuracy                         0.9910     20000
   macro avg     0.9012    0.7778    0.8279     20000
weighted avg     0.9902    0.9910    0.9902     20000